<div class="container-fluid h-100">
  <div class="row h-100">
    <!-- Body-Left -->
    <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center bg-light">
      左側エリア
    </div>

    <!-- 右側 -->
    <div class="col-md-6 col-12 d-flex flex-column h-100 p-0">
    </div>
  </div>
</div>
