<nav data-sidebar-target="sidebar" id="sidebar" class="bg-dark text-white p-3 border-end border-secondary" style="width: 250px; display: none;">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a href="#" class="nav-link fs-5 text-white">
        <i class="bi bi-book"></i> ノート一覧
      </a>
    </li>
  </ul>
</nav>
